<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <!-- Referencia al archivo de estilos CSS -->
  <link rel="stylesheet" href="/css/style.css">

  <title>Consulta empleado</title>

</head>
<body>
    <div class="container">
        <div class="m-4 d-flex justify-content-center mt-4" style="height: auto;"> 
            <div class="bg-dark" style="width: 400px; height: auto;"> 
                <div class=" text-center">
                    <box-icon style="font-size: 50px;">
                        <i class='bx bxs-user text-light' ></i> 
                    </box-icon>
                    <h4 class="text-light">Perfil de empleado</h4>
                </div>
                <div class="text-light mb-3 mt-4">
                    <label class="p-2 ml-3 d-flex">Nombre: <%= employee.Name %></label> 
                    <label class="p-2 ml-3 d-flex">Puesto: <%= employee.Position %></label>
                    <label class="p-2 ml-3 d-flex">Identificación: <%= employee.DocumentValueIdentity %></label> 
                    <label class="p-2 ml-3 d-flex">Fecha de contratación: <%= employee.Date %></label> 
                    <label class="p-2 ml-3 d-flex">Saldo vacaciones: <%= employee.BalanceHoliday %></label> 
                </div>
            </div>
        </div>
        <div class="cmn-divfloat-left">
            <a href="http://localhost:3000/listEmployees" title="Volver" class="btn btn-dark cmn-btncircle">
              <i class='bx bx-arrow-back'></i>
            </a>
          </div>
    </div>
</body>
</html>