<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <!-- Referencia al archivo de estilos CSS -->
  <link rel="stylesheet" href="/css/style.css">

  <title>Lista de movimientos</title>

</head>
<body> 
    <div class="container mt-3 mb-2 ">
        <nav class="navbar navbar-dark border border-dark text-light" style="background: #424242;">
            <box-icon style="font-size: 35px; ">
                <i class='bx bxs-user' ></i> 
            </box-icon>
            <p style="font-size: 20px; font-weight: 700; margin-top: 10px;">
              <%= employee.Name %></p>
            <p style="font-size: 20px; font-weight: 700; margin-top: 10px;">
              Identificaión: <%= employee.DocumentValueIdentity %></p>
            <p style="font-size: 20px; font-weight: 700; margin-top: 10px; margin-right: 3px;">
              Saldo: <%= employee.BalanceHoliday %></p>
        </nav>
    </div>
    <div class="container">
      <h4>Movimientos:</h4>
        <table class="table table-hover table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Nombre</th> 
                    <th class="cont-center" scope="col">Monto</th> 
                    <th class="cont-center" scope="col">Nuevo saldo</th> 
                    <th scope="col">Usuario</th> 
                    <th scope="col">Número IP</th> 
                    <th scope="col">Tiempo</th> 
                  </tr>
            </thead>
            <tbody>
              <% movements.forEach((movement)=>{ %>
                <tr>
                  <td>
                    <%= movement.Date %>
                  </td>
                  <td>
                    <%= movement.Name %>
                  </td>
                  <td class="cont-center">
                    <%= movement.Amount %>
                  </td> 
                  <td class="cont-center">
                    <%= movement.NewBalance %>
                  </td> 
                  <td >
                    <%= movement.NameUser %>
                  </td> 
                  <td >
                    <%= movement.PostInIP %>
                  </td> 
                  <td >
                    <%= movement.PostTime %>
                  </td> 
                </tr>
                <% }) %>
            </tbody>
        </table>
        <div class="cmn-divfloat-left">
          <a href="http://localhost:3000/listEmployees" title="Volver" class="btn btn-dark cmn-btncircle">
            <i class='bx bx-arrow-back'></i>
          </a>
        </div>
    </div>
</body>
</html>
